.App {
  background-image: url("/public/to-doimag.jpg");
  height: 100vh !important;
  background-size: cover;
  color: white;
  font-size: clamp(14px, 2vw, 18px);

}

.App-Blur {

  background: rgba(255, 255, 255, 0.048);
  backdrop-filter: blur(1px);
  height: inherit;
  -webkit-backdrop-filter: blur(1px);
}